/* Custom ScrollBar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(211, 210, 210);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* GENERAL */
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #131414;
  color: white;
  margin: auto;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
hr {
  background-color: white;
  opacity: 0.5;
  width: 50%;
  height: 0.5px;
  margin-right: auto;
  margin-left: auto;
}

/* NAVBAR SECTION */

/* Mustang Logo */
.navIcon {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  display: flex;
  justify-content: left;
  width: 30px;
  height: 30px;
}
.navTitle{
  font-size: 20px;
}
.navVendas {
  margin: auto;
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
}
.container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  text-decoration: none;
}
.container nav {
  background-color: #131414;
  margin: auto;
  margin-top: 0px;
  position: sticky;
  z-index: 9;
  top: 0;
}
nav a {
  font-size: 16px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
}

/* HEADER SECTION */
header .containerImg {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  background-color: rgba(31, 29, 29, 0.7);
  background-image: url(/img/mustangCapa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.topLeft {
  border-style: inherit;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

/* MAIN SECTION */
main {
  padding: 30px;
  text-align: justify;
}
main p {
  margin-bottom: 5px;
}
main ul {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sobreCarro {
  text-align: center;
  margin: auto;
}

/* CARD SECTION */
.cardSection1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.cardSection2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.card1 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}
.card2 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}
.card3 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}
.card4 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}
.card5 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}
.card6 {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  width: 200px;
  height: 250px;
}

.cardSection1 a {
  padding: 8px;
  border-radius: 8px;
  border-style: groove;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #131414;
}
.cardSection1 h2 {
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #131414;
}
.cardSection2 a {
  padding: 8px;
  border-radius: 8px;
  border-style: groove;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #131414;
}
.cardSection2 h2 {
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #131414;
}

/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: center;
}
footer a {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 20px;
}
footer img {
  width: 30px;
  height: 30px;
}

/* HOVER'S */
.car1:hover {
  color: royalblue;
}
.car2:hover {
  color: royalblue;
}
.car3:hover {
  color: royalblue;
}
.car4:hover {
  color: royalblue;
}
.car5:hover {
  color: royalblue;
}
.car6:hover {
  color: royalblue;
}
.navTitle:hover {
  color: royalblue;
}
.navigation:hover {
  color: royalblue;
}
.twitter:hover {
  color: royalblue;
}
.linkedin:hover {
  color: royalblue;
}
.github:hover {
  color: royalblue;
}
