@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(211, 210, 210);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #131414;
  color: white;
  margin: auto;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  margin-top: 30px;
  background-color: white;
  opacity: 0.5;
  width: 50%;
  height: 0.5px;
  margin-right: auto;
  margin-left: auto;
}
.navIcon {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  display: flex;
  justify-content: left;
  width: 30px;
  height: 30px;
}
.navTitle{
  font-size: 20px;
}
.navVendas {
  margin: auto;
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
}
.container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  text-decoration: none;
}
.container nav {
  background-color: #131414;
  margin: auto;
  margin-top: 0px;
  position: sticky;
  z-index: 9;
  top: 0;
}
nav a {
  font-size: 16px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
}
.row {
  box-shadow: 8px 8px 3px rgb(16, 16, 16);
  border-radius: 8px;
  margin: 10px;
  display: flex;
  padding: 20px;
  background-color: black;
}
.row div {
  flex: 50%;
}
.row p {
  text-indent: 10px;
}
.performanceText {
  text-align: center;
}
.btnComprar {
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #131414;
  color: green;
  margin: auto;
  align-items: center;
  display: flex;
  text-align: center;
  border: 1px solid #2e2e2e;
  cursor: pointer;
}
.btnComprar:hover {
  background-color: #2e2e2e;
}
.linkVoltar{
  font-size: 14px;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #131414;
  color: rgb(255, 255, 255);
  margin: auto;
  align-items: center;
  display: flex;
  text-align: center;
  border: 1px solid #2e2e2e;
  cursor: pointer;
}
.linkVoltar:hover{
  background-color: #2e2e2e;
}
.carro {
  border-radius: 8px;
  height: 400px;
  width: 650px;
}
.sobreCarro {
  text-align: center;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
}
footer a {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 20px;
}
footer img {
  width: 30px;
  height: 30px;
}
.navTitle:hover {
  color: royalblue;
}
.navigation:hover {
  color: royalblue;
}
.footerLink:hover{
  color: royalblue;
}